---
import BlogLayout from "../../layouts/BlogLayout.astro";

const bodyContent = `<h2 id="intro">Introduction</h2><p>This is a test post to verify the full pipeline.</p>`;
---
<BlogLayout
  title="Dry Run Test Post"
  description="This is a dry run test of the publish pipeline."
  date="March 27, 2026"
  tags={["test"]}
  canonicalPath="/blog/dry-run-test-delete-me"
  bannerImage="/blog/banners/dry-run-test-delete-me.png"
>
  <Fragment set:html={bodyContent} />
</BlogLayout>
